<h1>You're logged in!</h1>
<div>
    <h2>Account Management</h2>
    <ul>
        <li><a href="/account/profile">View Profile</a></li>
        <li><a href="/account/settings">Account Settings</a></li>
        <li><a href="/account/logout">Logout</a></li>
    </ul>
</div>