  <h1>Account Management</h1>
  <h2>Welcome <%= userName %></h2>

  <% if (accountType === 'Client') { %>
    <h2>Welcome Basic</h2>
  <% } else if (accountType === 'Employee' || accountType === 'Admin') { %>
    <h2>Welcome Happy</h2>
    <h3>Inventory Management</h3>
    <p><a href="/inventory">Access Inventory Management</a></p>
  <% } %>

  <p><a href="/account/update/<%= userId %>">Update Account Information</a></p>
    <p><a href="/account/update-password/<%= userId %>">Update Password</a></p>