<div class = "error">
    <%- messages() %>
      <% if (errors) { %>
          <ul>
              <% errors.forEach(error => { %>
                  <li><%= error.msg %></li>
              <% }) %>
          </ul>
      <% } %>
  </div>

    <div class="account-container">
    <h1><%= title %></h1>
    <form id="registerForm" action="/account/register" method="post">
        <p>*All fields are required</p>
        <fieldset>
            <div class="form-group">
                <label for="account_firstname">First Name:</label>
                <input type="text" id="firstname" size="10" name="account_firstname" required>
            </div>
            <div class="form-group">
                <label for="account_lastname">Last Name:</label>
                <input type="text" id="lastname" name="account_lastname" required>
            </div>
            <div class="form-group">
                <label for="account_email">Email Address:</label>
                <input type="email" id="email" name="account_email" required>
            </div>
            <div class="form-group">
                <label for="account_password">Password:</label>
                <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                <p>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
            </div>
            <button type="button" onclick="togglePassword()">Show/Hide Password</button>
            <button type="submit" style="text-align: center;">Register</button>
            <script>
                function togglePassword() {
                    var passwordField = document.getElementById("password");
                    if (passwordField.type === "password") {
                        passwordField.type = "text";
                    } else {
                        passwordField.type = "password";
                    }
                }
            </script>
        </fieldset>
    </form>
</div>