<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (authenticated) { %>
      <span>Welcome <%= account_firstname %> (<%= account_type %>)</span>
      <a href="/account/logout" title="Click to log out">Logout</a>
      <a href="/account/update/<%= user.account_id %>" title="Update Information & Password">Update Information & Password</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>