  <!-- Main Content -->
  <div class = "error">
    <%- messages() %>
      <% if (errors) { %>
          <ul>
              <% errors.forEach(error => { %>
                  <li><%= error.msg %></li>
              <% }) %>
          </ul>
      <% } %>
  </div>
  <div id="wrapper">  
     <section class="hero">
      <img src="images/vehicles/delorean.jpg" alt="CSE Motors" class="hero-image">
      <div class="hero-content">
        <h1>Welcome to CSE Motors</h1>
        <h2>Delorean Upgrades</h2>
        <h3>3 Cup holders<br>Superman doors<br>Fuzzy dicel</h3>
        <a href="#services" class="cta-button"><img src="images/site/own_today.png" alt="Own Today"></a>
      </div>
    </section>

    <section id="services" class="services">
      <div class="service-item">
        <h4>Delorean Upgrades</h4>
        <section class="upgrades">
          <div class="upgrade">
            <img src="images/upgrades/flux-cap.png" alt="FluxCapacitor">
            <a href="" target="_blank">Flux Capacitor</a>
          </div>
          <div class="upgrade">
            <img src="images/upgrades/flame.jpg" alt="FameDecals">
            <a href="" target="_blank">Fame Decals</a>
          </div>
          <div class="upgrade">
            <img src="images/upgrades/bumper_sticker.jpg" alt="BumperStickers">
            <a href="" target="_blank">Bumper Stickers</a>
          </div>
          <div class="upgrade">
            <img src="images/upgrades/hub-cap.jpg" alt="HubCaps">
            <a href="" target="_blank">Hub Caps</a>
          </div>
        </section>
      </div>
      <div class="service-item">
        <h4>DMC Delorean Review</h4>
        <li>"So fast it's almost like travelling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </div>
    </section>
  </div>