/* Base Styles - Mobile First Approach */
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-background: #fff;
  --main-accent: #019ebe;
}
h1{
  padding: 20px;
}
body{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
body img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}
#wrapper {
  width: 95%;
  margin: 20px auto;
  padding-bottom: 1em;
  border: 2pt solid #019ebe;
  background-color: white;
}
/* header */
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
header a{
  text-decoration: none;
  color:#000000;
}
.siteName a{
  font-size: 30pt;
  font-weight: bold;
}
.tools a{
  font-size: large;
}

nav {
  background-color: black; 
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav li {
  color: white;
  text-align: center;
  padding: 15px;
  font-size: medium;
}
nav li:hover {
  color:#fc7051;
}
/* main */
.hero {
  position: relative;
  overflow: hidden;
  display: flex;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;  
  height: 100%;
  object-fit: contain;
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hero-image img{
  width: 80%;
  padding: 20px;
}
.hero-content {
  width: 40%;
  position: relative;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.hero-content h1{
  color:#0056b3;
  font-size: 20pt;
}
.hero-content h2{
  color:#000000;
  font-size: 16pt;
}
.hero-content h3{
  color: #000000;
  font-size: 14pt;
  padding-bottom: 20px;
  line-height: 1.5;
}
.cta-button img{
  width:100%;
  height: auto;
}
.cta-button img:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
/* Services */
.services {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto; 
  gap: 20px;
}
.upgrade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.upgrade img{
  width: 80%;
  height: 40%;
  object-fit: contain;
  padding: 20px;
  background-color: rgb(55, 178, 255);
  border: 2pt solid #0f003d;
}
.upgrade p{
  text-decoration: underline;
}
.service-item li{
  line-height: 2.5;
  font-size: large;
}
footer {
  color:#333;
  text-align: left;
  padding-left: 20px;
}
/* vehicles */
.vehicle-detail {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.vechile-detail img {
  aspect-ratio: 16/9;
  padding:20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
/* Media Queries for Larger Screens */
@media screen and (min-width: 768px) {
  .hero-content h1{
    font-size: 30pt;
  }
  .hero-content h2{
    font-size: 25pt;
  }
  .hero-content p{
    font-size: 16pt;
  }  
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-content {
    max-width: 50%;
  }
  .cta-button img{
    width:70%;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }  
  .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service-item {
    padding: 2rem;
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 4rem;
  }
  .vehicle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .vehicle-item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background: white;
  }
  
  .vehicle-item img {
    width: 100%;
    height: auto;
  }
  
}