/* Base Styles - Mobile First Approach */
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-background: #fff;
  --main-accent: #019ebe;
}
h1{
  padding: 20px;
}

body{
  background-image: url('/images/site/small_check.jpg');
  background-size:contain;
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body img{
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}
#wrapper {
  width: 95%;
  margin: 20px auto;
  padding-bottom: 1em;
  border: 2pt solid #019ebe;
  background-color: white;
}
/* header */
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
header a{
  text-decoration: none;
  color:#000000;
}
.siteName a{
  font-size: 30pt;
  font-weight: bold;
}
.tools a{
  font-size: large;
}

nav {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
}

nav ul li a:hover {
  color: #fffb00;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 16px;
  font-size: 20pt;
  border: none;
  cursor: pointer;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-list {
  display: flex;
  flex-direction: column;
  position: static;
}
/* main */
.hero {
  position: relative;
  overflow: hidden;
  display: flex;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;  
  height: 100%;
  object-fit: contain;
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hero-image img{
  width: 80%;
  padding: 20px;
}
.hero-content {
  width: 40%;
  position: relative;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.hero-content h1{
  color:#0056b3;
  font-size: 20pt;
}
.hero-content h2{
  color:#000000;
  font-size: 16pt;
}
.hero-content h3{
  color: #000000;
  font-size: 14pt;
  padding-bottom: 20px;
  line-height: 1.5;
}
.cta-button img{
  width:100%;
  height: auto;
}
.cta-button img:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
/* Services */
.services {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto; 
  gap: 20px;
}
.upgrade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.upgrade img{
  width: 80%;
  height: 40%;
  object-fit: contain;
  padding: 20px;
  background-color: rgb(55, 178, 255);
  border: 2pt solid #0f003d;
}
.upgrade p{
  text-decoration: underline;
}
.service-item li{
  line-height: 2.5;
  font-size: large;
}
footer {
  color:#333;
  text-align: left;
  padding-left: 20px;
}
/* ----------------- classification view styling -------------*/
/* vehicles */
#inv-display {
  display: flex;
  flex-direction: column;
  row-gap: 20px;;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

/* Styling the vehicle thumbnail */
#inv-display li img {
  width: 100%;
  aspect-ratio: 5/3;
  height: auto;
  object-fit: cover;
}

#inv-display li {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* vehicle view styling */
.vehicle-detail {
  padding: 20px;
}
.vehicle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.vehicle-image {
  flex:100%;
  padding: 10px;
}
.vehicle-image img {
  width: 100%; 
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.vehicle-info {
  flex: 100%;
}

.vehicle-actions {
  flex: 100%;
}

.vehicle-actions button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #1b6e1e;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.vehicle-actions button:hover {
  background-color: #3f3f3f;
}

.vehicle-actions p {
  margin-top: 10px;
}

.vehicle-info p,
.vehicle-actions p {
  word-wrap: break-word;
}
/* account login view */
.account-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #023b6a;
}
.account-container h1, h2, h3{
  color: white;
  text-align: center;
}
.account-container p{
  color: rgb(238, 255, 0);
  text-align: center;
}

.flash-message {
    color: red;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

.form-group {
  margin: 0 auto;
  margin-bottom: 15px;
  border: none;
}

fieldset {
  border: none;
}

.account-container button {
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  background-color: #00780c;
  border: 1pt solid white;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.form-group p{
  color: white;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  font-style: italic;
}
.form-group label {
  display: flex;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 5px;
  color: white;
}

.form-group input {
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.account-container button:hover {
  background-color: #025dbe;
}
.account-container a{
  color: rgb(193, 234, 236);
  text-align: center;
  padding: 10px;
}
.account-container a:hover{
  color: yellow;
}
/* dropdown classification list */
.custom-dropdown {
  display: flex;
  margin: 0 auto;
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.classification-group, .description-group {
  width: 60%;
  margin: 0 auto;
  font-style: italic;
  padding: 10px;
}
#classification {
  width: 100%;
  margin: 0 auto;
  font-style: italic;
  padding: 10px;
}

#description {
  width: 100%;
}
/* inventoryDisplay */
#inventoryDisplay {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  color: white;
}
/* error message */
.error {
  padding: 20px;
  color: #000000;
  text-align: center;
  font-size: large;
}
.error ul li {
  list-style-type: none;
}


/* Media Queries for Larger Screens */
@media screen and (min-width: 768px) {
  .hero-content h1{
    font-size: 30pt;
  }
  .hero-content h2{
    font-size: 25pt;
  }
  .hero-content p{
    font-size: 16pt;
  }  
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-content {
    max-width: 50%;
  }
  .cta-button img{
    width:70%;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }  
  .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service-item {
    padding: 2rem;
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 4rem;
  }
/* classification view styling*/
  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;
    padding: 20px;
    margin: 0;
  }

  /* Styling each vehicle container */
  #inv-display li {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  /* Styling the vehicle thumbnail */
  #inv-display li img {
    width: 100%;
    aspect-ratio: 5/3;
    height: auto;
    object-fit: cover;
  }

  /* Styling the name and price section */
  .namePrice {
    padding: 15px;
    text-align: center;
  }

  /* Vehicle name styling */
  .vehicle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .vehicle-image {
    flex: 0 0 50%;
  }
  .vehicle-image img {
    width: 100%; 
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .vehicle-info {
    flex: 0 0 40%;
  }
  
  .vehicle-actions {
    flex: 0 0 40%;
  }
  /* account login view */
  .account-container {
    width: 60%;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-around;
  }
  .dropbtn{
    display:none;
  }
  .dropdown-content {
    position: static;
    transform: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: transparent;
  }

  .dropdown-content a {
    padding: 10px;
    background-color: transparent;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }
}