<div class="account-container">
    <% if (typeof flashMessage !== 'undefined') { %>
        <div class="flash-message">
            <%= flashMessage %>
        </div>
    <% } %>
    <h1><%= title %></h1>
    <a href="/inv/add-classification" target="_blank">Add New Classification</a>
    <a href="/inv/add-inventory" target="_blank">Add Inventory</a>
</div>