
<div class="account-container">
    <h1><%= title %></h1>
    <ul>
        <li>
            <a href="/inv/add-classification" title="Click to add new vehicle classification">Add New Classification</a>
        </li>
        <li>
            <a href="/inv/add-inventory" title="Click to add new vehicle classification">Add New Vehicle</a>
        </li>
    </ul>
</div>
<div class="account-container">
    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items.</p>
    <%- classificationSelect %>

    <table id="inventoryDisplay">
        <!-- Inventory items will be populated here by JavaScript -->
    </table>

    <noscript>JavaScript must be enabled to use this page.</noscript>
</div>